title: Stool Design
description: D&I Industrial Design 2021

theme: minima
# theme: jekyll-theme-cayman

collections:
  projects:
    output: true

defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"