* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  background: black;
  color: rgb(240, 240, 240);
  margin: 0;
  overflow: hidden;

  font-family: "Noto Sans SC", sans-serif;
}

.intro {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

img {
  height: auto;
  width: auto;
  position: relative;
  max-width: 100%;
}

main {
  height: calc(100% - 4rem);
  overflow: hidden;
}

.entry {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  font-weight: bold;
  padding: 3rem;
  background: radial-gradient(black, transparent 40%);
  cursor: pointer;
  z-index: 1;
}

.title {
  padding:1rem;
}

.title p {
  margin: 0;
  font-size: 2rem;
  font-weight: lighter;
}
.title p:first-child {
  font-weight: bolder;
}

.title-top {
  top: 0;
  left: 0;
}
.title-bottom {
  right: 0;
  bottom: 0;
  text-align: right;
}

.motion {
  border: none;
  width: 100%;
  height: 100%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  height: 4rem;
  border-bottom: 1px solid rgb(240, 240, 240);
  z-index: 1;
  display: flex;
  padding:0 1rem;
  align-items: center;
}

.icon {
  font-size: 2rem;
  font-weight: bold;
}

.buttons {
  list-style: none;
  margin-left: auto;
}

.buttons li {
  display: inline;
  font-size: 1.2rem;
}

.tab {
  border-bottom: 2px solid rgb(240, 240, 240);
  height: 20%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.tab-heading {
  padding: 1rem;
}

.tab:hover {
  height: 100%;
}
.tab:hover img {
  height: 50%;
}
.tab:hover > .tab-content {
  top: 40%;
}

.tab h2,
.tab p {
  margin: 0;
}

.tab img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.tab-content {
  position: absolute;
  top: 100%;
}

#Input1:checked ~ .intro {
  visibility: hidden;
}

#Input1:checked ~ .intro .entry,
#Input1:checked ~ .intro .motion {
  opacity: 0;
}
#Input1:checked ~ .intro .title {
  transform: translateY(100vh);
  opacity: 0;
}
#Input1:not(:checked) ~ main .tab {
  transform: translateY(100vh);
}
#Input1:not(:checked) ~ main .tab > img {
  transform: translateX(100vw);
}

.entry,
.motion {
  position: absolute;
  transition: 1s;
}

.title {
  position: absolute;
  transition: 1s;
  transition-delay: 0.5s;
}

.tab-content {
  transition: top 1s 1.5s;
}

.tab img {
  transition: transform 1s 3s, height 1s 1s;
}

.tab:nth-child(1) {
  transition: transform 0.8s ease-out 1.8s, height 1s;
}
.tab:nth-child(2) {
  transition: transform 0.8s ease-out 2s, height 1s;
}
.tab:nth-child(3) {
  transition: transform 0.8s ease-out 2.2s, height 1s;
}
.tab:nth-child(4) {
  transition: transform 0.8s ease-out 2.4s, height 1s;
}
.tab:nth-child(5) {
  transition: transform 0.8s ease-out 2.6s, height 1s;
}

@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
  }
}
