* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  background: black;
  color: rgb(240, 240, 240);
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.entry {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  font-weight: bold;
  padding: 3rem;
  background: radial-gradient(black, transparent 40%);
  z-index: 1;
}

.title p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: lighter;
}
.title p:first-child {
  font-weight: bolder;
}

.title-top {
  top: 0;
  left: 0;
}
.title-bottom {
  right: 0;
  bottom: 0;
  text-align: right;
}

.entry {
  cursor: pointer;
}

.motion {
  border: none;
  width: 100%;
  height: 100%;
}

.tabs {
  width: 100%;
  height: 100%;
  position: absolute;
}

.tab {
  height: 20vh;
  border-bottom: 2px solid rgb(240, 240, 240);
  position: relative;
  top: 100vh;
  display: flex;
}

.tab h2,
.tab p {
  margin: 0;
}

.tab img {
  height: 100%;
  margin-left: auto;
  position: relative;
  left: 100vw;
}

#Input1:checked ~ .entry,
#Input1:checked ~ .motion {
  opacity: 0;
  visibility: hidden;
}
#Input1:checked ~ .title {
  transform: translateY(100vh);
  opacity: 0;
  visibility: hidden;
}
#Input1:checked ~ .tabs .tab {
  transform: translateY(-100vh);
}
#Input1:checked ~ .tabs .tab > img {
  transform: translateX(-100vw);
}

.entry,
.motion {
  position: absolute;
  transition: 1s; 
}

.title {
  position: absolute;
  transition: 1s;
  transition-delay: 0.5s;
}

.tab {
  transition: 0.8s ease-out;
}

.tab:nth-child(1) {
  transition-delay: 1.8s;
}
.tab:nth-child(2) {
  transition-delay: 2s;
}
.tab:nth-child(3) {
  transition-delay: 2.2s;
}
.tab:nth-child(4) {
  transition-delay: 2.4s;
}
.tab:nth-child(5) {
  transition-delay: 2.6s;
}

.tab img {
  transition: 1s;
  transition-delay: 3s;
}

@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
  }
}
