<div class="tab">
	<div class="tab-heading">
		<h2>循环共生</h2>
		<p>Circular Intergrowth</p>
	</div>
	<img src="08-500-2.png" alt="">
	<div class="tab-content">
		<p>人类活动所引发的气候变化、工业生产所导致的环境污染、物质消费激增下的能源危机……半世纪前罗马俱乐部在《增长的极限》一书中的“危言耸听”如今均已成为迫在眉睫的现实难题。世间万物的循环流动，人与自然的平衡共生，设计师应如何将“循环”与“共生”的理念付诸实践？从材料实验到模式创新，从商业实践到前瞻思辨，“循环共生”板块中的22位毕业生从各自对生态伦理的思考出发，以多样的设计实践，尝试向实现人类与生态环境的永续共存迈出一小步。
		</p>
	</div>
	<div class="tab-cards">
		<div class="card">
			<img src="project1.png" alt="" class="cover">
			<div class="header">
				<span>工业设计</span>
				<h2>口腔数据内容存储和调取工具设计</h2>
			</div>
		</div>
		<div class="card">
			<img src="project1.png" alt="" class="cover">
			<div class="header">
				<span>工业设计</span>
				<h2>口腔数据内容存储和调取工具设计</h2>
			</div>
		</div>
		<div class="card">
			<img src="project1.png" alt="" class="cover">
			<div class="header">
				<span>工业设计</span>
				<h2>口腔数据内容存储和调取工具设计</h2>
			</div>
		</div>
		<div class="card">
			<img src="project1.png" alt="" class="cover">
			<div class="header">
				<span>工业设计</span>
				<h2>口腔数据内容存储和调取工具设计</h2>
			</div>
		</div>
		<div class="card">
			<img src="project1.png" alt="" class="cover">
			<div class="header">
				<span>工业设计</span>
				<h2>口腔数据内容存储和调取工具设计</h2>
			</div>
		</div>
		<div class="card tail">
			<p>Some insformation</p>
			<p>Some other information</p>
			<p onclick="topFunction()">Back to top</p>
		</div>
	</div>
	<div class="spacer">
		<p>Some insformation</p>
		<p>Some other information</p>
	</div>
</div>