* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  background: black;
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;
}

main {
  width: 100%;
}
@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
  }
}

.cards {
  display: flex;
  flex-direction: column;
}
.card {
  --offset: 20em;
  background: rgb(240, 240, 240);
  position: relative;
  border: 2px solid lightgrey;
  /*box-shadow: 0 -1rem 3rem;*/
  transition: .5s;
}

.card a {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s;
}

.card:hover a {
  top: 0;
}

.card:not(:first-child) {
  margin-top: calc(var(--offset) * -1);
}
.card:hover ~ .card {
  transform: translateY(var(--offset));
}
.header {
  padding: 1.5rem;
}
.header span {
  border-bottom: 1px solid black;
}

img {
  height: auto;
  max-width: 100%;
}
