---
---
header {
  z-index: 1;
  background: inherit;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  height: 4rem;
  display: flex;
  padding: 0 1rem;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  > a {
    font-size: 2rem;
    font-weight: bold;
  }

  ul {
    list-style: none;
    margin-left: auto;
  }

  li {
    display: inline;
    font-size: 1.2rem;
  }
}
