---
---

* {
  box-sizing: border-box;
}

body {
  background: black;
  color: rgb(240, 240, 240);
  overflow: hidden;
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;

  &.cn :lang(en),
  &.en :lang(cn) {
    display: none;
  }
}

img {
  max-width: 100%;
}

header {
  z-index: 1;
  position: relative;
  height: 4rem;
  display: flex;
  padding: 0 1rem;
  align-items: center;

  a {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    margin-left: auto;
    position: relative;
    top: 100vh;
  }

  li {
    display: inline;
    font-size: 1.2rem;
  }

  &:target {
    ul {
      -webkit-transform: translateY(-100vh);
      transform: translateY(-100vh);
      -webkit-transition: 1.2s 1s;
      transition: 1.2s 1s;
    }

    ~ .intro {
      @keyframes position {
        100% {
          transform: translateY(100vh);
        }
      }
      @keyframes opacity {
        100% {
          opacity: 0;
        }
      }
      animation: opacity 1.5s 1s forwards;

      & a,
      & .title {
        animation: position 1.5s forwards, opacity 1.5s forwards;
      }
    }
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  iframe {
    position: absolute;
    z-index: -1;
    border: none;
    width: 100%;
    height: 100%;
  }

  a {
    cursor: pointer;
    align-self: center;
    font-size: larger;
    font-weight: bold;
    padding: 3rem;
    color: inherit;
    background: radial-gradient(black, transparent 40%);
  }

  p {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
  }

  .title {
    padding: 1rem;

    &-top {
      padding-top: 4rem;
    }

    &-bottom {
      align-self: flex-end;
      p {
        text-align: right;

        &:first-child {
          font-weight: bolder;
        }
      }
    }
  }
}

main {
  --hi: calc(100vh - 4rem);
  --offset: calc(48vw + 3.2rem);
  height: var(--hi);

  > * {
    height: 100%;
  }
}

#tabs:target .tab {
  // ~ main .tabs {
  //   -webkit-transform: translateY(-100vh);
  //   transform: translateY(-100vh);
  // }
  @keyframes flyin {
    100% {
      transform: translateY(-100vh);
    }
  }
  animation: flyin 1.5s forwards;
  @keyframes imgin {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  @-webkit-keyframes imgin {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
  > img {
    animation: imgin 1.5s 1.5s forwards;
  }
}

.tab {
  border-top: 1px solid rgb(240, 240, 240);
  // height: 100%;
  width: 100%;
  height: 20%;
  padding: 0 1rem;
  position: relative;
  top: 100vh;
  overflow: hidden;
  background: black;

  // &:not(:first-child) {
  //   margin-top: calc(var(--hi) * -0.8);
  // }

  > img {
    position: absolute;
    height: 20vh;
    top: 0;
    right: -100%;
    transform-origin: 100% 0;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
  }

  &-select {
    position: absolute;
    top: 0;
    overflow: auto;
    filter: invert(100%);

    > img {
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-transition: transform 0.8s 0.5s;
      transition: transform 0.8s 0.5s;
    }
    // ~ .tab {
    //   -webkit-transform: translateY(80%);
    //   transform: translateY(80%);
    // }
    // &:nth-child(2) {
    //   -webkit-transform: translateY(-20%);
    //   transform: translateY(-20%);
    // }
    // &:nth-child(3) {
    //   -webkit-transform: translateY(-40%);
    //   transform: translateY(-40%);
    // }
    // &:nth-child(4) {
    //   -webkit-transform: translateY(-60%);
    //   transform: translateY(-60%);
    // }
    // &:nth-child(5) {
    //   -webkit-transform: translateY(-80%);
    //   transform: translateY(-80%);
    // }
    .tab-heading ~ * {
      opacity: 1;
      -webkit-transition: transform 1.2s 1.2s;
      transition: transform 1.2s 1.2s;
    }

    .tab-cards {
      filter: invert(100%);
    }
  }

  &-heading {
    padding: 1rem 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    h2,
    p {
      margin: 0;
    }

    ~ * {
      opacity: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }

  &-content p {
    text-align: justify;
  }

  &-cards {
    margin-bottom: 100%;
  }
}
/* .tab {
  transition: transform 0.8s ease-out 1.8s, margin-top 1.8s 1.8s, height 1s .5s;
}

.tab img {
  transition: transform 1s 3s, height 1s;
}

.tab-content {
  transition: top 1s;
} */

/*
#tab1:checked ~ .tabs .tab1 {
  height: 100%;
  transition: height 1s;
}
#tab1:checked ~ .tabs .tab1 img {
  height: 50vh;
  transition: height 0 1s;
}
#tab1:checked ~ .tabs .tab1 > .tab-content {
  top: 40%;
  transition: top 1s 1s;
}
*/

/* .tab:nth-child(1) {
  transition: transform 0.8s ease-out 1.8s;
}
.tab:nth-child(2) {
  transition: transform 0.8s ease-out 2s;
}
.tab:nth-child(3) {
  transition: transform 0.8s ease-out 2.2s;
}
.tab:nth-child(4) {
  transition: transform 0.8s ease-out 2.4s;
}
.tab:nth-child(5) {
  transition: transform 0.8s ease-out 2.6s;
} */

/* .tab:hover .tab-cards { */

.card {
  position: relative;
  padding-bottom: 100%;
  background: rgb(240, 240, 240);
  color: black;
  box-shadow: 0 -1px 10px black;
  -webkit-transition: 0.5s;
  transition: 0.5s;

  img {
    height: 60%;
    object-fit: cover;
  }

  h2 {
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
  }
  span {
    border-bottom: 1px solid black;
  }

  a {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  &:not(:first-child) {
    margin-top: -90%;
  }
  &:hover {
    a {
      top: 0;
    }

    ~ .card {
      -webkit-transform: translateY(90%);
      transform: translateY(90%);
    }
  }
}

.tail {
  margin-top: -100%;
  padding-top: 1rem;
}

@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
    --offset: calc(288px + 3.2rem);
  }
}
