---
---

body {
  background: black;
  color: rgb(240, 240, 240);
  overflow: hidden;
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;
}

header ul {
  transition: transform 1s;
  &.in {
    transform: translateY(100vh);
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.out {
    opacity: 0;
    transition: opacity 2s;

    span,
    .title {
      transform: translateY(100vh);
      transition: transform 1.5s;
    }
  }

  iframe {
    position: absolute;
    z-index: -1;
    border: none;
    width: 100%;
    height: 100%;
  }

  span {
    cursor: pointer;
    align-self: center;
    font-size: larger;
    font-weight: bold;
    padding: 3rem;
    background: radial-gradient(black, transparent 40%);
  }

  p {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
  }

  .title {
    padding: 1rem;

    &-top {
      padding-top: 4rem;
    }

    &-bottom {
      align-self: flex-end;
      p {
        text-align: right;

        &:first-child {
          font-weight: bolder;
        }
      }
    }
  }
}

main {
  --hi: calc(100vh - 4rem);
  --offset: calc(48vw + 3.2rem);
  height: var(--hi);

  > * {
    height: 100%;
    position: relative;
  }
}

.tab {
  border-top: 1px solid rgb(240, 240, 240);
  width: 100%;
  height: 100%;
  // height: 20%;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  // top: 100vh;
  overflow: hidden;
  background: black;
  transition: transform 1s, background 0.5s, color 0.5s;

  // &:not(:first-child) {
  //   margin-top: calc(var(--hi) * -0.8);
  // }
  @for $i from 2 through 5 {
    &:nth-child(#{$i}) {
      transform: translateY(calc(20% * (#{$i} - 1)));
    }
  }

  &.in {
    transform: translateY(100vh);
  }

  > img {
    position: absolute;
    height: 20vh;
    top: 0;
    right: 0;
    transform-origin: 100% 0;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
  }

  &-heading {
    padding: 1rem 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    h2,
    p {
      margin: 0;
    }

    ~ * {
      opacity: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }
  }

  &-cards {
    margin-bottom: 100%;
  }
  &.select {
    transform: translateY(0);
    overflow: auto;
    background: rgb(240, 240, 240);
    color: black;
    // filter: invert(100%);

    > img {
      filter: invert(1);
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-transition: transform 0.8s 0.5s;
      transition: transform 0.8s 0.5s;
    }
    ~ .tab {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    .tab-heading ~ * {
      opacity: 1;
      -webkit-transition: transform 0.5s 1s;
      transition: opacity 0.5s 1s;
    }
  }
}

.card {
  position: relative;
  padding-bottom: 100%;
  background: rgb(240, 240, 240);
  color: black;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 20%);
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    div {
      padding: 1rem;
    }
  }

  img {
    height: 60%;
    object-fit: cover;
  }

  h2 {
    font-size: 1.2rem;
  }
  span {
    border-bottom: 1px solid black;
  }

  a {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  &:not(:first-child) {
    margin-top: -85%;
  }
  &:hover {
    a {
      top: 0;
    }

    ~ .card {
      -webkit-transform: translateY(85%);
      transform: translateY(85%);
    }
  }
}

.tail {
  margin-top: -100%;
  padding-top: 1rem;
}

@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
    --offset: calc(288px + 3.2rem);
  }
}
