---
---

body {
  background: black;
  color: rgb(240, 240, 240);
  overflow: hidden;
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;
}

::-webkit-scrollbar {
  @media (max-width: 600px) {
    display: none;
  }

  width: 6px;

  &-track {
    background: transparent;
  }
  &-thumb {
    background: rgb(240, 240, 240);
    border-right: 5px solid black;
  }
}

header ul {
  transition: transform 1s;
  &.out {
    transform: translateY(100vh);
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.out {
    opacity: 0;
    transition: opacity 2s;

    span,
    .title {
      transform: translateY(100vh);
      transition: transform 1.5s;
    }
  }

  iframe {
    position: absolute;
    z-index: -1;
    border: none;
    width: 100%;
    height: 100%;
  }

  span {
    cursor: pointer;
    align-self: center;
    font-size: larger;
    font-weight: bold;
    padding: 3rem;
    background: radial-gradient(black, transparent 40%);
  }

  p {
    margin: 0;
    font-size: 2rem;
    font-weight: lighter;
  }

  .title {
    padding: 1rem;

    &-top {
      padding-top: 4rem;
    }

    &-bottom {
      align-self: flex-end;
      p {
        text-align: right;

        &:first-child {
          font-weight: bolder;
        }
      }
    }
  }
}

main {
  --hi: calc(100vh - 4rem);
  height: var(--hi);
  position: relative;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  transition: opacity 1.5s, transform 1s;

  @media (min-width:600px) {
    background-image: url(/assets/bg2.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
  }

  &.out {
    transform: translateY(100%);
    opacity: 0;
  }

  > * {
    height: 100%;

    scroll-snap-align: start;
  }
}

.foreword {
  overflow: auto;
  margin: 0 1rem;
  max-width: 900px;
  position: relative;
  @media (max-width: 600px) {
    border-top: 1px solid rgb(240, 240, 240);
  }

  img {
    filter: invert(1);
  }

  .signature {
    padding-bottom: 40%;
    img {
      display: block;
      margin-left: auto;
      width: 40%;
    }
    p {
      text-align: right;
      // font-size: 0.75rem;
      margin: 0;
    }
  }

  @media (min-width: 600px) {
    overflow: hidden;
    > p {
      max-width: 100ch;
      columns: 2;
    }

    .signature {
      padding: 0 0 1rem 1rem;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
    }
  }
}

.tabs {
  @media (max-width: 600px) {
    position: relative;
  }
  @media (min-width: 600px) {
    width: 30vw;
    display: flex;
    flex-direction: column;
  }
}

.tab {
  width: 100%;
  padding: 0 1rem;
  background: black;
  flex: 1;
  transition: transform 1s, background 0.5s, color 0.5s;

  &-heading {
    padding: 1rem 0;
    position: relative;

    @media (max-width: 600px) {
      border-top: 1px solid rgb(240, 240, 240);
    }

    img {
      position: absolute;
      height: 20vh;
      top: 0;
      right: 0;
      transform-origin: 100% 0;
      -webkit-transition: transform 0.5s;
      transition: transform 0.5s;

      &.imgin {
        transform: translateX(100%);
      }
    }
    h2,
    p {
      margin: 0;
    }
  }

  &-content {
    opacity: 0;
  }

  .cardwrapper {
    padding-bottom: 100%;
  }

  &.in {
    transform: translateY(100vh);
  }

  @media (max-width: 600px) {
    height: 100%;
    position: absolute;
    top: 0;
    overflow: hidden;

    @for $i from 2 through 5 {
      &:nth-child(#{$i}) {
        transform: translateY(calc(20% * (#{$i} - 1)));
      }
    }

    &.select {
      transform: translateY(0);
      overflow: auto;
      background: rgb(240, 240, 240);
      color: black;

      ~ .tab {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }

      .tab-heading img {
        filter: invert(1);
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-transition: transform 0.8s 0.5s;
        transition: transform 0.8s 0.5s;
      }

      .tab-content {
        opacity: 1;
        transition: opacity 0.5s 1s;
      }
    }
  }

  @media (min-width: 600px) {
    &:hover {
      background: rgb(240, 240, 240);
      color: black;
      .tab-heading img {
        filter: invert(1);
      }
      .tab-content {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0.5s;
      }
    }

    &-content {
      background: inherit;
      color: inherit;
      position: absolute;
      overflow: auto;
      display: flex;
      justify-content: space-around;
      visibility: hidden;
      top: 100%;
      left: 30%;
      right: 0;
      height: var(--hi);
      > p {
        padding: 2rem;
        max-width: 50ch;
        position: sticky;
        top: 0;
        bottom: 0;
      }
    }

    .cardwrapper {
      flex-basis: 500px;
    }

    &-cards {
      min-width: 400px;
    }
  }
}

.card {
  position: relative;
  padding-bottom: 100%;
  background: rgb(240, 240, 240);
  color: black;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 20%);
  -webkit-transition: 0.5s;
  transition: 0.5s;

  &-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    div {
      padding: 1rem;
    }
  }

  img {
    height: 60%;
    object-fit: cover;
  }

  h2 {
    font-size: 1.2rem;
  }
  span {
    border-bottom: 1px solid black;
  }

  a {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  &:not(:first-child) {
    margin-top: -85%;
  }
  &:hover {
    a {
      top: 0;
    }

    ~ .card {
      -webkit-transform: translateY(85%);
      transform: translateY(85%);
    }
  }
}
