---
---

body {
  max-width: 100vw;
  background: rgb(240, 240, 240);
}

main {
  width: 100%;
}

.banner {
  width: 100%;

  img,
  video {
    width: 100%;
  }
}
.content {
  padding: 2rem;

  section {
    margin-bottom: 1rem;
  }

  .title span {
    border-bottom: 1px solid black;
  }

  .profile {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex: 1;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      margin-right: 1rem;
      object-fit: cover;
    }

    p {
      margin: 0;
      font-size: 0.7rem;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .links {
    background: rgb(240, 240, 240);
    a {
      display: flex;
      // border: 1px solid black;
      text-decoration: none;
      // margin-bottom: .5rem;
    }
    p {
      padding: 0.5rem;
      margin: 0;
    }
    .link {
      color: black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      transition: all 0.5s;
      text-decoration: underline;
    }
    .link:hover,
    .symbol {
      font-weight: bold;
      padding: .5rem 1rem;
      background: black;
      color: rgb(240, 240, 240);
    }
  }
}

.display img {
  margin-bottom: 1rem;
  width: 100%;
}

footer {
  border-top: 2px solid lightgray;
  background: inherit;
  font-size: 0.6rem;
  padding: 0.6rem;
}

footer p {
  margin: 0;
}

@media (min-width: 600px) {
  body {
    margin-bottom: 0;
  }
  .banner,
  .display {
    width: 70%;
    margin-left: auto;
    margin-bottom: 2rem;
  }
  .content {
    position: fixed;
    top: 4rem;
    left: 1rem;
    bottom: 4rem;
    width: 30%;
    padding-bottom: 0;

    overflow: auto;
  }
  .links {
    position: sticky;
    bottom: 0;
  }
  footer {
    text-align: center;
  }
}
