* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  background: rgb(240, 240, 240);
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  width: 100%;
}

.banner {
  width: 100%;
}

.banner image,
.banner video {
  width: 100%;
}

.content {
  display: flex;
  /* max-width: 100%; */
  padding: 2rem;
  flex-direction: column;
}

.content section {
  /* margin-left: 1rem; */
  margin-bottom: 1rem;
  /* border-left: 2px solid black; */
  /* padding-left: 1rem; */
}

/* .title h1 {} */

.title span {
  border-bottom: 1px solid black;
}

.profile {
  display: flex;
  height: auto;
  flex: 1;
  align-items: center;
}

.profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile p {
  margin: 0;
  padding-left: 1rem;
  font-size: 0.7rem;
}

.profile span {
  font-size: 1.2rem;
  font-weight: bold;
}

.discription {
  flex: 1;
  word-break: break-all;
  hyphens: auto;
}
.discription p {
  /* margin: 0; */
  font-size: 0.8rem;
}

.display img {
  margin-bottom: 1rem;
  width: 100%;
}

header {
  position: sticky;
  top:0;
  height: 4rem;
  border-bottom: 1px solid black;
  background: rgb(240, 240, 240);
  z-index: 1;
  display: flex;
  padding:0 1rem;
  align-items: center;
}

.icon {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.buttons {
  list-style: none;
  margin-left: auto;
}

.buttons li {
  display: inline;
  font-size: 1.2rem;
}

footer {
  border-top: 2px solid lightgray;
  background: rgb(240, 240, 240);
  font-size: 0.6rem;
  padding: 0.6rem;
}

footer p {
  margin: 0;
}

@media (min-width:600px) {
  main {
    width: 600px;
    margin: auto;
  }
  footer {
    text-align: center;
  }
}
