---
---

body {
  max-width: 100vw;
  background: rgb(240, 240, 240);
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;
}

::-webkit-scrollbar {
  @media (max-width: 600px) {
    display: none;
  }

  width: 6px;

  &-track {
    background: transparent;
  }
  &-thumb {
    background: black;
    border: 2px solid rgb(240, 240, 240);
  }
}

main {
  width: 100%;
}

.banner {
  width: 100%;

  img,
  video {
    width: 100%;
  }
}
.content {
  padding: 2rem;

  section {
    margin-bottom: 1rem;
  }

  .title span {
    border-bottom: 1px solid black;
  }

  .profile {
    display: flex;
    height: auto;
    flex: 1;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    p {
      margin: 0;
      padding-left: 1rem;
      font-size: 0.7rem;
    }

    span {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.display img {
  margin-bottom: 1rem;
  width: 100%;
}

footer {
  border-top: 2px solid lightgray;
  background: rgb(240, 240, 240);
  font-size: 0.6rem;
  padding: 0.6rem;
}

footer p {
  margin: 0;
}

@media (min-width: 600px) {
  main {
    width: 60%;
    margin-left: auto;
  }
  .content {
    position: fixed;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 40%;

    overflow: auto;
  }
  footer {
    text-align: center;
  }
}
