.project-header {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
}

.project-info span{
    font-weight: bold;
}

.project-image {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: flex-end; */
}
.project-image img {
    /* aspect-ratio: 16 / 9; */
    aspect-ratio: 1;
    object-fit: cover;
    height: 5rem;
    margin-left: 1rem;
}
.project-image img:first-child {
    height: 15rem;
}

.project-content {
    text-indent: 4ch;
    max-width: 55ch;
    padding-left: 10rem;
    margin-bottom: 8rem;
}

.project-footer a {
    text-decoration: underline;
}
