---
---

body {
  max-width: 100vw;
  background: rgb(240, 240, 240);
  margin: 0;

  font-family: "Noto Sans SC", sans-serif;
}

main {
  width: 100%;
}

.banner {
  width: 100%;

  image,
  video {
    width: 100%;
  }
}
.content {
  display: flex;
  /* max-width: 100%; */
  padding: 2rem;
  flex-direction: column;

  section {
    margin-bottom: 1rem;
  }

  .title span {
    border-bottom: 1px solid black;
  }

  .profile {
    display: flex;
    height: auto;
    flex: 1;
    align-items: center;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }

    p {
      margin: 0;
      padding-left: 1rem;
      font-size: 0.7rem;
    }

    span {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.display img {
  margin-bottom: 1rem;
  width: 100%;
}

footer {
  border-top: 2px solid lightgray;
  background: rgb(240, 240, 240);
  font-size: 0.6rem;
  padding: 0.6rem;
}

footer p {
  margin: 0;
}

@media (min-width: 600px) {
  main {
    width: 600px;
    margin: auto;
  }
  footer {
    text-align: center;
  }
}
