<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>in:to</title>
    <script>
        function topFunction()
        {
                    x=document.getElementsByClassName("tab");  // 找到元素
                    for (i = 0; i < x.length; i++) {
                                x[i].scrollTo(0, 0);
                            }
                    return false;
                }
    </script>
</head>

<body>
    <input type="checkbox" name="enter" value="0" id="Input1" hidden>
    <header>
        <span class="icon" onclick="topFunction()">IN:TO</span>
        <ul class="buttons">
            <li>EN</li>
            <li>RA</li>
            <li>MN</li>
        </ul>
    </header>

    <main>
        <input type="checkbox" name="select" value="0" id="tab1-check" hidden>
        <div class="tabs">
            {%- assign tabs = site.tabs -%}
	    {%- for t in tabs -%}
            <div class="tab">
                <div class="tab-heading">
                    <h2>{{ t.heading-cn }}</h2>
                    <p>{{ t.heading-en }}</p>
                </div>
                <img src="/tabs/{{ t.img }}" alt="">
                <div class="tab-content">
                    <p>{{ t.cn }}</p>
                </div>
                <div class="tab-cards">
                </div>
                <div class="spacer">
                    <p>Some insformation</p>
                    <p>Some other information</p>
                </div>
            </div>
	    {%- endfor -%}
	</div>
    </main>

    <div class="intro">
        <label class="entry" for="Input1">进入展览</label>
        <iframe class="motion" src="/intro/index.html"></iframe>
        <div class="title title-top">
            <p><br></p>
            <p>同济大学</p>
            <p>设计创意学院</p>
            <p>二〇二一届</p>
            <p>本科毕业设计展</p>
        </div>
        <div class="title title-bottom">
            <p>IN:TO</p>
            <p>TONGJI D&I</p>
            <p>UNDERGRADUATE</p>
            <p>GRADUATION</p>
            <p>EXHIBITION 2021</p>
        </div>
    </div>

</body>

</html>
