<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/index.css">
    <title>in:to</title>
    <script>
        function topFunction() {
            x = document.getElementsByClassName("tab");  // 找到元素
            for (let i = 0; i < x.length; i++) {
                x[i].scrollTo(0, 0);
            }
            return false;
        }
        function changeLang(l) {
            document.body.className = l;
            sessionStorage.setItem("lang", l);
        }
    </script>
</head>

<body class="cn">
    <script>
        let l = sessionStorage.getItem("lang")
        if (l) {
            // Restore the contents of the text field
            document.body.className = l;
        }
    </script>
    <input type="checkbox" name="enter" value="0" id="Input1" hidden>
    <header>
        <span id="ico" class="icon" onclick="topFunction()">IN:TO</span>
        <ul class="buttons">
            <li lang="cn" onclick="changeLang('en')">EN</li>
            <li lang="en" onclick="changeLang('cn')">CN</li>
            <li>RA</li>
            <li>MN</li>
        </ul>
    </header>

    <main>
        <div class="tabs">
            {%- assign tabs = site.tabs -%}
            {%- for t in tabs -%}
            <div class="tab">
                <img loading="lazy" src="/tabs/{{ t.img }}" alt="">
                <div class="tab-heading">
                    <h2>{{ t.heading-cn }}</h2>
                    <p>{{ t.heading-en }}</p>
                </div>
                <div class="tab-content">
                    <p lang="cn">{{ t.cn }}</p>
                    <p lang="en">{{ t.en }}</p>
                </div>
                <div class="tab-cards">
                    {%- assign projects = site.projects | where: "lang", "cn" -%}
                    {%- for p in projects -%}
                    <div class="card">
                        <div class="card-content">
                            <img loading="lazy" src="/projects/{{ p.number }}/thumbnail.jpg" alt="" class="cover">
                            <div class="header">
                                <span>{{ p.major }}</span>
                                <h2>{{ p.title }}</h2>
                            </div>
                        </div>
                        <a href="{{ p.url }}"></a>
                    </div>
                    {%- endfor -%}
                    <div class="card">
                        <div class="card-content">
                            <p>Some insformation</p>
                            <p>Some other information</p>
                            <p onclick="topFunction()">Back to top</p>
                        </div>
                    </div>
                </div>
                <div class="tail">
                    <p>Some insformation</p>
                    <p>Some other information</p>
                </div>
            </div>
            {%- endfor -%}
        </div>
    </main>

    <div class="intro">
        <label class="entry" for="Input1">进入展览</label>
        <iframe class="motion" src="/intro/index.html"></iframe>
        <div class="title title-top">
            <p>同济大学</p>
            <p>设计创意学院</p>
            <p>二〇二一届</p>
            <p>本科毕业设计展</p>
        </div>
        <div class="title title-bottom">
            <p>IN:TO</p>
            <p>TONGJI D&I</p>
            <p>UNDERGRADUATE</p>
            <p>GRADUATION</p>
            <p>EXHIBITION 2021</p>
        </div>
    </div>

</body>

</html>