---
layout: default2
---
<link rel="stylesheet" href="/assets/project.css">

<main>
    <div class="banner">
        {%- assign col = site.collections | where: "label", page.collection | first -%}
        <script>
            var http = new XMLHttpRequest();
            http.open('HEAD', 'video.mp4', false);
            http.send();
            if (http.status != 404) {
                document.writeln('<video controls>');
                document.writeln('<source src="video.mp4" type="video/mp4">');
                document.writeln('</video> ');
            } else {
                document.writeln('<img src="thumbnail.jpg" alt="">')
            }
        </script>
        <!-- <video style="background: url(thumbnail.jpg);background-size: contain;" src="video.mp4"></video> -->
    </div>
    {%- assign cn = site.projects | where: "number", page.number | where: "lang", "cn" | first -%}
    <div class="content">
        <section class="title">
            <span lang="en">{{ page.major }}</span>
            <span lang="cn">{{ cn.major }}</span>
            <h1 lang="en">{{ page.title }}</h1>
            <h1 lang="cn">{{ cn.title }}</h1>
        </section>
        <section class="profile">
            <img src="portrait.jpg" alt="">
            <p lang="en"><span>{{ page.name }}</span><br>
                <br>
                E-mail：{{ page.email }}<br>
                Tutor：{{ page.supervisor }}<br>
            </p>
            <p lang="cn"><span>{{ cn.name }}</span><br>
                <br>
                E-mail：{{ cn.email }}<br>
                指导老师：{{ cn.supervisor }}<br>
            </p>
        </section>
        <section lang="en" class="discription">
            {{- content | newline_to_br -}}
        </section>
        <section lang="cn" class="discription">
            {{- cn.content | newline_to_br -}}
        </section>
    </div>
    <div class="display">
        {%- assign files = col.files |sort: "name" -%}
        {% capture dir %}{{ page.number }}/img{% endcapture %}
        {%- for image in files -%}
        {%- if image.path contains dir -%}
        <img src="img/{{ image.name }}" alt="">
        {%- endif -%}
        {%- endfor -%}
        <!-- {%- for image in site.static_files -%}
        {%- if image.path contains page.number -%}
        <img src="{{ image.path }}" alt="">
        {%- endif -%}
        {%- endfor -%} -->
    </div>
</main>

{%- include footer2.html -%}