---
layout: default2
---
<main>
    <div class="banner">
        <img src="thumbnail.png" alt="">
    </div>
    <div class="content">
        <section class="title">
            <span>{{ page.major }}</span>
            <h1>{{ page.title }}</h1>
        </section>
        <section class="profile">
            <img src="portrait.png" alt="">
            <p><span>{{ page.name }}</span><br>
            <br>
            邮箱：{{ page.email }}<br>
            指导老师：{{ page.supervisor }}<br>
            个人作品：www.xumandesign.cn<br>
            </p>
        </section>
        <section class="discription">
            {{ content }}
        </section>
    </div>
    <div class="display">
        <!--{%- assign col = site.collections | where: "label", page.collection | first -%}
        {%- assign files = col.files |sort: "name" -%}
        {%- for image in files -%}
        {%- if image.path contains 'img' -%}
        <img src="img/{{ image.name }}" alt="">
        {%- endif -%}
        {%- endfor -%}-->
        {%- for image in site.static_files -%}
        {%- if image.path contains page.number -%}
        <img src="{{ image.path }}" alt="">
        {%- endif -%}
        {%- endfor -%}
    </div>
</main>
